@charset "utf-8";

@font-face {
	font-family:'Notosans';
	font-style:normal;
	font-weight:200;
	src:local('NotoSansLight'), local('NotoSansLight'), url(../fonts/notokr/NotoSansKR-Light.eot);
	src:url(../fonts/notokr/NotoSansKR-Light.eot?#iefix) format('embedded-opentype'),
		 url(../fonts/notokr/NotoSansKR-Light.woff2) format('woff2'),
		 url(../fonts/notokr/NotoSansKR-Light.woff) format('woff');;
}

@font-face {
	font-family:'Notosans';
	font-style:normal;
	font-weight:400;
	src:local('NotoSansRegular'), local('NotoSansRegular'), url(../fonts/NotoSansKR-Regular.eot);
	src:url(../fonts/NotoSansKR-Regular.eot?#iefix) format('embedded-opentype'),
		 url(../fonts/NotoSansKR-Regular.woff2) format('woff2'),
		 url(../fonts/NotoSansKR-Regular.woff) format('woff');
}

@font-face {
	font-family:'Notosans';
	font-style:normal;
	font-weight:600;
	src:local('NotoSansMedium'), local('NotoSansMedium'), url(../fonts/NotoSansKR-Medium.eot);
	src:url(../fonts/NotoSansKR-Medium.eot?#iefix) format('embedded-opentype'),
		url(../fonts/NotoSansKR-Medium.woff2) format('woff2'),
		url(../fonts/NotoSansKR-Medium.woff) format('woff');
}

@font-face {
	font-family:'Notosans';
	font-style:normal;
	font-weight:800;
	src:local('NotoSansBold'), local('NotoSansBold'), url(../fonts/NotoSansKR-Bold.eot);
	src:url(../fonts/NotoSansKR-Bold.eot?#iefix) format('embedded-opentype'),
		url(../fonts/NotoSansKR-Bold.woff2) format('woff2'),
		url(../fonts/NotoSansKR-Bold.woff) format('woff');
}

* {margin:0;padding:0;}
body {color:#333;font:14px/1.5 Notosans, dotum, '돋움', sans-serif;-webkit-text-size-adjust:none;word-break:keep-all;}
a {color:#333;text-decoration:none;}
ol, li {list-style:none;}
table {width:100%;border-collapse:collapse;border:0;word-break:normal;}
colgroup {background:none;}
input, select, textarea, button {vertical-align:middle;font:14px/1.5 Notosans, Dotum, '돋움', Sans-serif;}
fieldset, img {border:0;}
img {vertical-align:top;}
label, td img {vertical-align:middle;}
legend, caption {visibility:hidden;width:0;font-size:0;line-height:0;text-indent:-5000px;}
address, em {font-style:normal;}
button {overflow:visible;cursor:pointer;background:none;border:0;}