@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

$color : red;

body {
    background: $color;
    @include border-radius(10px);
    transform: translate(0);
}