<xml version="1.0">
    <menu>
        <menulist>
            <name>menu1</name>
            <href>link1.html</href>
            <menu2dep>
                <name>menu1_1</name>
                <href>link1_1.html</href>
            </menu2dep>
            <menu2dep>
                <name>menu1_2</name>
                <href>link1_2.html</href>
            </menu2dep>
        </menulist>
        <menulist>
            <name>menu2</name>
            <href>link2.html</href>
            <menu2dep>
                <name>menu2_1</name>
                <href>link2_1.html</href>
            </menu2dep>
            <menu2dep>
                <name>menu2_2</name>
                <href>link2_2.html</href>
            </menu2dep>
        </menulist>
    </menu>
</xml>