
@font-face {
	font-family:'noto';
	font-style:normal;
	font-weight:200;
	src:local('NotoSansLight'), local('NotoSansLight'), url(/resource/font/notokr/NotoSansKR-Light.eot);
	src:url(/resource/font/notokr/NotoSansKR-Light.eot?#iefix) format('embedded-opentype'),
		 url(/resource/font/notokr/NotoSansKR-Light.woff2) format('woff2'),
		 url(/resource/font/notokr/NotoSansKR-Light.woff) format('woff');;
}

@font-face {
	font-family:'noto';
	font-style:normal;
	font-weight:400;
	src:local('NotoSansRegular'), local('NotoSansRegular'), url(/resource/font/notokr/NotoSansKR-Regular.eot);
	src:url(/resource/font/notokr/NotoSansKR-Regular.eot?#iefix) format('embedded-opentype'),
		 url(/resource/font/notokr/NotoSansKR-Regular.woff2) format('woff2'),
		 url(/resource/font/notokr/NotoSansKR-Regular.woff) format('woff');
}

@font-face {
	font-family:'noto';
	font-style:normal;
	font-weight:600;
	src:local('NotoSansMedium'), local('NotoSansMedium'), url(/resource/font/notokr/NotoSansKR-Medium.eot);
	src:url(/resource/font/notokr/NotoSansKR-Medium.eot?#iefix) format('embedded-opentype'),
		url(/resource/font/notokr/NotoSansKR-Medium.woff2) format('woff2'),
		url(/resource/font/notokr/NotoSansKR-Medium.woff) format('woff');
}

@font-face {
	font-family:'noto';
	font-style:normal;
	font-weight:800;
	src:local('NotoSansBold'), local('NotoSansBold'), url(/resource/font/notokr/NotoSansKR-Bold.eot);
	src:url(/resource/font/notokr/NotoSansKR-Bold.eot?#iefix) format('embedded-opentype'),
		url(/resource/font/notokr/NotoSansKR-Bold.woff2) format('woff2'),
		url(/resource/font/notokr/NotoSansKR-Bold.woff) format('woff');
}
